
<settings>
    <profiles>
        <profile>
            <id>central</id>
            <properties>
                <username>vijayadmin </username>
                <password>Aqsw@321</password>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>central</activeProfile>
    </activeProfiles>
</settings>
