
<settings>
	<profiles>
		<profile>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<username>vijayadmin</username>
					<password>Aqsw@321</password>
					<name>ip-172-31-4-126-releases</name>
					<url>http://18.221.82.129:8081/artifactory/testmaven</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				
				<repository>
					<id>snapshots</id>
					<username>vijayadmin</username>
					<password>Aqsw@321</password>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<name>ip-172-31-4-126-snapshots</name>
					<url>http://18.221.82.129:8081/artifactory/testmaven</url>
					<releases>
						<enabled>false</enabled>
					</releases>
				</repository>
				
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>plugins-release</name>
					<url>http://18.221.82.129:8081/artifactory/plugins-release</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots />
					<id>snapshots</id>
					<name>plugins-snapshot</name>
					<url>http://18.221.82.129:8081/artifactory/plugins-snapshot</url>
				</pluginRepository>
			</pluginRepositories>
			<id>artifactory</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>artifactory</activeProfile>
	</activeProfiles>
</settings>
